/*  */

body {
    background-color: goldenrod;
}

p {
    font-family: sans-serif;
    color: red;
}

p:hover {
    border: 2px solid black;
    border-radius: 10px;
}


/* #one {
    background-color: white;
    text-align: left;
}

#two {
    color: lightblue;
    text-align: center;
}

#three {
    color: beige;
    /* background-color: palevioletred; */


/*    text-align: right;
}

#four {
    color: red;
    text-align: center;
}
/*
.bordered {
    border: 2px solid fuchsia;
}

.background-black {
    background-color: black;
} */